body{
    margin-top: 70px;  
    margin-bottom: 70px; 
    background:#333;
    color:#fff;
}
h1 {
text-align:center;
}

.output{
  padding-top: 10px;

}

.select_options{
    padding-bottom: 10px;   
}

.options{
    color:black;
}

.select{
    color:black;
}


#lbsInput{
        font-size : 18px;
}